*{
    padding: auto;
    margin: auto;
}

body{
    min-height: 100%;
    position: relative;
}

#wrapper{
    width:100%;
    height:100%;
}

#header{
    background-color:red;
    width:100%;
    position: absolute;
    top:0;
}

#content{
    background-color:green;
    height:auto;
    width:650px;
    float: none;
    overflow: hidden;
}

#footer{
    background-color:blue;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    position:absolute;
}

nav{
    overflow: hidden;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    display: inline;
    float: left;
}

nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height:auto;
}

nav ul li a:hover{
    color:white;
    background-color:black;
}